*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #F9F9F9;
    max-width: 1440px; /* Maximum page width */
    min-width: 320px; /* Minimum page width */
    margin: 0 auto;
}

/*-----------------------------------------------
  Topics Section
-----------------------------------------------*/

.topics {
    padding: 0 clamp(0px, 5%, 118px); /* Adding responsive padding - left & right */
}

/* Section title styling  */
.section-title h2 {
    color: #262626;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

/* Formatting topics container*/
.topics-container {
    display: flex;
    flex-direction: column;
}

/* Formatting container for all cards */
.cards {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    gap: 10px; /*Space between cards*/
    justify-content:space-evenly; /* Center cards with even spacing */
}

/* Formatting text for all cards */
.common h1 {
    color: #262626;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    margin-top: 10px;
}

/* Formatting images for all cards */
.common img {
    width: 88px;
    height: 88px;
}

/* Formatting cards */
.common {
    flex: 1 1 150px; /* grow, shrink, base width */
    max-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:first baseline;
    align-items: center;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px 25px;
    transition: .5s; 
    min-height: 210px;
}

/* Formatting "view more" for all cards */
.view-more {
    position: absolute;
    bottom: 30px;
    color: #262626;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    padding: 8px 24px; /*------------------*/
    border-radius: 40px;
    border: none;
    background-color: #4CE0D7;
    transition: .3s;
}

/* Adding hover effect on "view more" button */
.view-more:hover {
    color: #F9F9F9;
    cursor: pointer;
}

/* Adding hover effect on cards */
.common:hover {
    background-color: lightgray;
}

/* Adding responsive design for small screens*/
@media (max-width: 767px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
        gap: 12px;
        padding-top: 30px;
    }
    
    .common {
        display: flex;
        flex-direction: column;   /* image on top, text below */
        justify-content: center;
        padding: 15px 10px;
        max-height: 60px;
    }

    .common img {
        width: 40px;
        height: 40px;
    }

    
    .common h1 {
        font-size: 12px;
        margin-top: 10px;
        text-align: center;
    }

    /* Adding hover effect on cards */
    .common:hover{
        background-color: #4CE0D7;
    }

    .view-more {
        display: none;
    }
}

/* Adding responsive design for medium screens*/
@media (max-width: 1023px) {
    .common {
        flex: 1 1 100%;
        max-width: none;
        padding: 15px;
        min-height: 150px;
    }

    .common img {
        width: 55px;
        height: 55px;
    }

    .common h1 {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 5px;
    }

    .view-more {
        padding: 6px 16px;
        bottom: 20px;
    }

    .cards {
        gap: 10px;
        padding-top: 30px;
    }
}

/* Adding responsive design for big screens*/
@media (min-width: 1024px) {

    .view-more {
        padding: 8px clamp(20px, 2vw, 40px);
    }
}
